@page "/todo"
@rendermode InteractiveServer


<h3>TodoList</h3>
<input type="text" @bind="newToDoItem"/>
<button @onclick="AddToDoItem">Add</button>

<ol>
    @foreach(string todoItem in todoList)
    {
        <li>@todoItem</li>
        

    }


</ol>


@code {
   List<string> todoList = new() { "Clean The Dishes ", "Make up The Bed" };
    string newToDoItem = "";

    void AddToDoItem()
    {
        todoList.Add(newToDoItem);

    }
}
