@page "/todo"
@rendermode InteractiveServer




<div class="alert alert-primary" role="alert">
    <h3 class="text-center">Todo List</h3>
</div>

<input type="text" @bind="newToDoItem"/>
<button @onclick="AddToDoItem" class="btn btn-outline-primary">Add</button>

<ul>
    @foreach(string todoItem in todoList)
    {
        <li>@todoItem<button @onclick="(()=>DeleteToDoItem(todoItem))">Delete</button></li>
    }


</ul>


@code {
    List<string> todoList = new() { "Clean The Dishes ", "Make up The Bed" };
    string newToDoItem = "";

    void AddToDoItem()
    {
        if (string.IsNullOrWhiteSpace(newToDoItem) == false)
        {
            todoList.Add(newToDoItem);
            newToDoItem = "";
        }
    }
    void DeleteToDoItem(string todoItemToDelete)
    {
        
        todoList.Remove(todoItemToDelete);

    }
}
